* {
    margin: 0%;
    padding: 0%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0% 3%;
    box-sizing: border-box;
    gap: 18%;
    font-size: 18px;
}

.image1{
    display: flex;
    align-items: start;
    padding-top: 35px;
    justify-content: center;
    gap: 15%;  
}

.logo {
    width: 43%;
}

.image1 img {
    width: 15%;
}

.image1 span {
    color: rgb(23, 156, 196);
}

.fa-brands {
    font-size: 35px;
    color: rgb(6, 6, 148);
}

.fa-facebook {
    margin-left: 75%;
}

.fa-square-twitter {
    color: rgb(40, 196, 193);
    margin-left: 5%;
    margin-bottom: 10px;
}

.navigation-bar {
    text-wrap: wrap;
    background-color: rgb(7, 7, 111);
    padding: 1% 0% 1%    6%;
    margin-bottom: 17vh;
    font-size: 5px;
    
}

.navigation-bar a {
    color: white;
    text-transform: capitalize;
    font-size: 21px;
    text-decoration: none;
    font-weight: 800;
    padding: .5%;
    margin-left: 1%;
}

.navigation-bar a:hover {
    background-color: white;
    color: rgb(7, 7, 111);
}

.navigation-bar select option {
    color: rgb(6, 6, 83);
    font-size: 17px;
}
.mainn {
    height: 50vh;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.mainn img {
    width: 100%;
    border-radius: 20px;
    height: 100%;
}

.fa-solid {
    font-size: 40px;
    columns: blue;
}

.slider-text {
    background-color: rgb(11, 11, 75);
    color: white;
    padding: 8px 0;
}

.slider-img {
    width: 70%;
    margin: auto;
}

.slider-img img {
    width: 100%;
}

.slider-img h1 {
    margin: 5% 5% 10% 15%;
    color: rgb(11, 11, 75);
}

.upper {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-bottom: 5%;
    flex-wrap: wrap;
}

.box {
    border: 1px solid rgb(179, 175, 175);
    padding: 1%;
    padding-bottom: 2%;
    border-radius: 5px;
}

.card a {
    color: rgb(82, 82, 134);
    text-decoration: none;
}

.card h3 {
    margin: 5% 0 0 15%;
}

.scholar {
    font-size: 2vw;
}

.down {
    padding-top: 3%;
    background-color: #343a40;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap: 8%;
    padding-bottom: 5%;
}

.down ul li {
    list-style: none;
}

li a {
    color: rgb(149, 146, 146);
    text-decoration: none;
    font-size: 19px;
    text-transform: capitalize;
}

li {
    margin: 5px;
}

li h1 {
    color: white;
    margin-bottom: 18px;
}
.card1{
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-bottom: 3%;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;

}
.aim-in h1{
    color :purple;
    font-size: 40px;
    text-align: center;
    margin-bottom: 5%;
}
.inner-card{
    border: 1px solid rgb(177, 171, 171);
    width: 22%;
    height: fit-content;
    padding: 10px;

}
.inner-card img{
    width: 100%;
}
.inner-card:hover{
    box-shadow: 0 0 10px #555;

    scale: 1.1;
}
.inner-card h3{
    color: rgb(106, 102, 102);
    margin: 6%;
    text-align: center;
}
.form1 input{
    width: 70vw;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid rgb(181, 177, 177);
}
.form1 textarea{
    width: 70vw;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid rgb(181, 177, 177);
}
.form1 p{
    margin: 0;
    color: grey;
}
.form1 select{
    color: grey;
    width: 71.5vw;
    font-size: 18px;
    border-radius: 5px;

    padding: 10px;
    border: 2px solid rgb(181, 177, 177);


}
.form1  option{
    width:70%;
    font-size: 20px;
    padding: 10px;
}
.form1 input[type="button"]{
    width: 35vw;
    margin-left: 17vw;
    margin-bottom: 5%;
    color: white;
    background-color: rgb(97, 97, 239);
    border: 2px solid rgb(97, 97, 239);
    font-size: 25px;
    font-weight: 600;
}
.middle2{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: left;
    gap: 4%;
    height: fit-content;
    margin-bottom: 3%;
    width: 60%;
    margin-top: 0;
}
.left{
    background-color: black;
    color: white;
    width: 40%;
    padding: 8%;

}
.left h4{
    color: yellow;
margin-left: 30px;
margin-top: 5%;}
.right input ,textarea{
    width: 130%;
    padding: 10px;
    font-size: 18px;
}
.right input[type="submit"]{
    color: white;
    background-color: blue;
    border: 2px solid blue;
    width: 40%;
    margin-left: 50%;
}
.middle3{
    width: 64%;
    margin: auto;
    margin-bottom: 4%;
}
.middle3 iframe{
    width: 100%;
}
.middle4 b
{
    font-size: 20px;
    margin-bottom: 0;
    text-decoration: underline;
    font-weight: 900;
}
.middle4{
    margin-top: 0;
    margin-bottom: 0
}
.card2{
    gap: 2%;

}
.card2 .inner-card{
    width: 15%;

    padding: 1%;
    border: 1px solid rgb(189, 185, 185);
    border-radius: 3px;
    height: inherit;
}
 .card2 img{
    height: 30vh;
 }
.inner-card h4{
    color: rgb(105, 100, 100);
    font-size: 19px;
    text-align: center;
}
.aim{
    width: 80%;
    margin: auto;
}
.aim p{
    margin-bottom: 4%;
}
.s1{
    font-size: 40px;
    color: blue;
}
.aim {
    color: rgb(75, 73, 73);
}
.s3{
    color: skyblue;
}
.s2{
    font-size: 35px;
    color: skyblue;
}
.aim h1{

color: black;
text-align: left;
margin-bottom: 0;}
.inner1{
    width:80% ;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10%;
    flex-wrap: wrap;
}
.inner1 h2{
    color: purple;
    margin-bottom: 20px;
    text-align: center;
}
.inner-card h2{
    color: rgb(48, 46, 46);
}
.inner1 div{
    padding: 20px;
    width: 100%;
    margin-bottom: 50px;
    border-radius: 3px;

    text-align:center;
}
@media only  screen and (max-width:900px) {
    .left{
        width: 140%;
    }
    
}


.hii {
    color: rgb(81, 81, 244);
}

li a:hover {
    color: white;
    text-decoration: underline;
}


.copyright {
    background-color: #343a40;
    padding-bottom: 40px;
    font-size: 20px;
    color: white;
    text-align: center;
    padding-right: 15%;
}

.copyright a {
    color: wheat;
}

.copyright a:hover {
    color: red;
}

.middle {
    width: 70%;
    margin: auto;
}

.middle h1 {
    color: purple;
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
}

.middle p {
    margin: 6% 0;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(43, 41, 41);
    line-height: 30px;
}

.middle p a {
    color: rgb(75, 178, 219);
    text-decoration: none;
}

.middle p a:hover {
    color: blue;
    text-decoration: underline;
}

.special-list li p {
    color: rgb(50, 142, 212);
    margin: 0;
}

.middle-inner {
    color: rgb(75, 73, 73);
}
.s3{
    color: skyblue;

}
.middle1 h1{
    color :purple;
    font-size: 40px;
    text-align: center;
    margin-bottom: 5%;
}
.s2{
    font-size: 35px;
    color: skyblue;
}
.middle-inner h1{

color: black;
padding-left: 1%;
padding-right: 53%;
}
.middle-inner ul{
    padding-left: 10%;
}
.inner1{
    width:80% ;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10%;
    flex-wrap: wrap;
}
.middle-inner h2{
    padding-left: 10%;
}
.middle-inner h3{
    padding-left: 10%;
    padding-right: 10%;
    color: #555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.middle-inner p{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
    padding-bottom: 10%;
}
.inner1 h2{
    color: purple;
    margin-bottom: 20px;
    text-align: center;
}
.inner-card h2{
    color: rgb(48, 46, 46);
}
.inner1 div{
    padding: 20px;
    width: 100%;
    margin-bottom: 50px;
    border-radius: 3px;

    text-align:center;
}
@media only  screen and (max-width:900px) {
    .left{
        width: 140%;
    }
    
}

.middle img {
    width: 70vw;
}

.special-list li span {
    color: green;
    margin-left: 8px;
}

.special-list {
    margin: 5% 0%;
}

.aim-in {
    font-size: 19px;
}

@media only screen and (max-width:600px) {
    .header {
        flex-wrap: wrap;
    }
    .header-side {
        flex-wrap: wrap;
    }
    .logo {
        width: 80%;
    }
}